/* MANDATORY EXTERNAL CSS RULES */
/* A style formatting all <p> (paragraph) tags */
p {
	font-size: 18px;
	color: #F0FFF0;
}

/* A generic class definition (reused across page elements) */
.flexBox {
	display: flex;
}

/* A tag-specific class (e.g., .header h1 for styling headings within headers) */
section.aboutMeSection > span .side {
	display: flex;
}

/* A class for <a> tags with hover effects (e.g., .link:hover) */
.link:hover {
	.line {
		opacity: 1;
	}
}
/* --- */

/* ABOUT ME */
section.aboutMeSection {
	flex-direction: column;
	gap: 35px;
	padding: 35px 150px;

	> span {
		display: flex;
		gap: 25px;

		.side {
			.line {
				width: 2px;
			}
		}

		.mainContent {
			display: flex;
			flex-direction: column;
			gap: 25px;

			.topContent {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				align-self: center;
				gap: 10px;
				width: 60%;

				.topContentTop {
					display: flex;
					flex-direction: column;
					align-items: center;
					gap: 10px;
					
					hr {
						width: 100%;
						border: 1px solid #F0F3BD;
					}
				}

				.topContentBottom {
					display: flex;
					gap: 40px;

					.topContentRight {
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						gap: 10px;
					}

					img {
						max-width: 250px;
						border-radius: 10px;
						margin: 10px 0;
						height: fit-content
					}
				}
			}

			.writtenContent {
				display: flex;
				flex-direction: column;
				gap: 10px;

				> span:not(.double) {
					display: flex;
				}

				.double,
				.double > span:has(.contentWithImageOrLink) {
					gap: 5px;
					display: flex;
					flex-direction: column;
				}

				.double {
					.contentWithImageOrLink {
						display: flex;
						align-items: center;
						gap: 10px;

						img {
							width: 35px;
						}
					}
				}
			}
		}
	}
}
/* --- */

/* EXPERIENCES */
section.experiencesSection {
	flex-basis: 33%;
	justify-content: space-between;
	padding: 35px 150px;

	/* EDUCATION */
	.formations {
		display: flex;
		flex-direction: column;
		text-align: end;
		
		.sectionTitle {
			align-self: flex-end;
		}

		.formationsList {
			display: flex;
			flex-direction: column;
			gap: 25px;

			.formation {
				display: flex;
				flex-direction: column;
				gap: 5px;

				.formationDetails {
					display: flex;
					justify-content: flex-end;
					gap: 10px;
				}
			}
		}
	}
	/* --- */

	/* WORK EXP */
	.workExp {
		display: flex;
		flex-direction: column;

		.workExperiences {
			display: flex;
			flex-direction: column;
			gap: 25px;

			.workExperience {
				display: flex;
				flex-direction: column;
				gap: 5px;

				.workExperienceDetails {
					display: flex;
					gap: 10px;
				}

				.workExperienceDescription {
					display: flex;
					flex-direction: column;
				}
			}
		}
	}
	/* --- */
}
/* --- */

@media (max-width: 768px) {
	/* ABOUT ME */
	section.aboutMeSection {
		gap: 25px !important;
		padding: 25px 15px !important;

		> span {
			gap: 10px;
			flex-direction: column !important;

			.side {
				flex-direction: column !important;

				.line {
					height: 1px !important;
				}
			}

			.mainContent {
				gap: 15px !important;

				.topContentBottom {
					flex-direction: column;
					gap: 40px;

					.topContentRight {
						gap: 10px;
					}
				}

				.writtenContent {
					gap: 10px !important;

					.double {
						gap: 10px !important;

						> span:has(.contentWithImageOrLink) {
							gap: 2.5px;
						}

						.contentWithImageOrLink {
							gap: 5px;
						}
					}
				}
			}
		}
	}
	/* --- */
	
	/* EXPERIENCES */
	section.experiencesSection {
		justify-content: space-between;
		padding: 15px 15px;
		gap: 30px;

		/* EDUCATION */
		.formations {
			.formationsList {
				gap: 10px;

				.formation {
					gap: 2.5px;

					.formationDetails {
						gap: 5px;
					}
				}
			}
		}
		/* --- */

		/* WORK EXP */
		.workExp {
			.workExperiences {
				gap: 10px;

				.workExperience {
					gap: 2.5px;

					.workExperienceDetails {
						gap: 5px;
					}
				}
			}
		}
		/* --- */
	}
	/* --- */
}
