:root {
  --text-color: #1a1c20;
  --link-color: #4a76ee;
  --background-color: #eeeff1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
  max-width: 1400px;
  margin: 0 auto;
}

a {
  color: var(--link-color);
  text-decoration: none;
}


/* SECTION 1: Hero */
.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  margin: 50px 0;
  margin-bottom: 100px;
  gap: 40px;
}

.hero-section .text {
  flex: 5;
}



.hero-section .text .links {
  margin-top: 25px;
}

.hero-section .text .links a {
  display: inline-block;
  padding: 5px 10px;
  border: 2px solid var(--link-color);
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  transition: .1s;
}

.hero-section .text .links a:hover {
  color: var(--text-color);
  border: 2px solid var(--text-color);
}

.hero-section .headshot {
  flex: 2;
  display: flex;
  justify-content: right;
}

.hero-section .headshot img {
  width: 350px;
  border-radius: 50%;
}

/* SECTION 2: body */
.body-section {
  padding: 0 50px;
  margin-bottom: 100px;
}

.body-section h2{
  text-align: center;
  font-size: 35px;
}

.body-section p .text {
  text-align: center;
  margin-bottom: 20px;
}

.body-section .cells {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.body-section .cells .cell {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  width: 200px;
  padding: 10px 20px;
  margin: 10px;
  border: 1.5px solid #d3d3d3;
  border-radius: 5px;
}

.body-section .cells .cell img {
  width: 60px;
  height: 30px;
  object-fit: contain;
  border-radius: 2px;
}

.body-section .cells .cell span {
  font-size: 18px;
}






@media (max-width: 600px) {
  /* NAVBAR */
  nav {
    padding: 0 20px;
  }

  nav .right a {
    font-size: 22px;
  }

  nav .right a:last-child {
    color: var(--text-color);
    background-color: transparent;
    padding: 0;
  }

  nav .right a span {
    display: none;
  }

  /* SECTION 1: Hero */
  .hero-section {
    padding: 0 20px;
  }

  .hero-section .text h2 {
    font-size: 30px;
  }

  /* SECTION 2: body */
  .body-section  {
    padding: 0 20px;
  }

  .body-section .cells .cell span {
    font-size: 16px;
  }

 

  /* SECTION 4: Contact */
  .contact-section {
    padding: 0 20px;
  }
}

/* PROJECTS SECTION */
.projects-section {
  margin: 80px auto;
  max-width: 1100px;
  padding: 0 20px;
}

.projects-section h2 {
  font-size: 32px;
  margin-bottom: 40px;
  text-align: center;
}

.project-row {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  gap: 40px;
  /* margin-bottom: 70px; */
  margin-top: 40px;

}

.project-row.reverse {
  flex-direction: row-reverse;
}

.project-text {
  flex: 1;
}

.project-text h4 {
  font-size: 24px;
  margin-bottom: 15px;
  margin-left: 10px;
  margin-top: 10px;

}

.project-text p {
  line-height: 1.6;
  font-size: 16px;
  margin-left: 10px;
}

.project-img {
  flex: 1;
  display: flex;
  justify-content: center;
  /* max-height: 300px; */
}

.project-img img {
  width: 100%;
  max-width: 450px;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.project-img-stack {
  display: flex;
  flex-direction: column;
  gap: 20px;                  
  align-items: center;        
}
.project-h {
  display: flex;
  flex-direction: row;
  gap: 20px;                  
  align-items: center;        
}

.project-img-stack img {
  width: 100%;
  /* max-width: 450px;            */
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

/* RESPONSIVE LAYOUT */
@media (max-width: 768px) {
  .project-row,
  .project-row.reverse {
    flex-direction: column;
    text-align: center;
  }

  .project-img img {
    max-width: 100%;
  }
}